<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="../public/css/index.css" />
  <body>
      <div id="particles-js"></div>
      <div id="submitName">
          <h1>An easy way to summarize your activity on github</h1>
          <form action="/user" method="POST" class="validate">
              <div>
                  <input type="text" 
                  name="username" 
                  id="username" 
                  placeholder="github username ie. ElyTgy"
                  value=""
                  required>
              </div>
              <div class="invalid-feedback">
                  Please choose a username.
              </div>
              <button>Submit</button>
            </form>
        </div>

        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="../public/js/index.js"></script>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"
        ></script>

    </body>
</html>
