<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="../public/css/stats.css">
<body>
    <div class="parent">
        <div class="child left">Left</div>
        <div class="child center">Center</div>
        <div class="child right">Right</div>
    </div>
</body>
</html>