.parent {
  display: flex;
  height: 100vh;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  }
  
.child {
  display: flex;
  flex-grow: 1;
  flex-direction:column;
}

#user-info{
display: block;
width:100%;
height: min-content;
}

#top-user-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: #282972;;

}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cda2ff;
  border-radius: 10px;
  padding: 2em 0em;
  margin: 1.5em;
  border: 3px solid #75D5FD;
}

canvas{
  color: white;
}

#bottom-user-info{
  background-color: #000000;;
  border: 2px solid #fd3089;
}

#bottom-user-info .user-info-item{
    background-color:#191a57;
    padding: .5% 2%;
    margin: 0.5em 0.9em;
}

.user-info-item, a{
  color: #f176ac;
  text-decoration: none;
}

a:hover{
  color: rgb(73, 255, 246);
}

.user-info-item span{
  width: 100%;
  display:block;
  text-align: center;
}

.title, #name{
  font-size: small;
  opacity: 60%;
  font-weight: 300;
  color: #ecc7d7
}

#name{
  margin-bottom: .5em;
}

img{
  border-radius: 50%;
  border: 20% solid;
  margin: 1em;
}


.left {
  background: #000146;;
}

.center {
  background: #666;
}

.right {
  background: #999;
}

@media (max-width: 690px) {
  #bottom-user-info{
    flex-direction: column;
  }
  #bottom-user-info .user-info-item{
    width: 70%;
  }
}