.parent {
    display: flex;
    height: 100vh;
  }
  
  .child {
    flex-grow: 1;
  }
  
  .left {
    background: #ddd;
  }
  
  .center {
    background: #666;
  }
  
  .right {
    background: #999;
  }